n8n-visa-workflow.json
{
  "name": "Visa Lookup",
  "nodes": [
    {
      "parameters": {
        "path": "visa",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "webhookId": "visa-lookup"
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Visa!A:Z",
        "lookupColumn": "Country",
        "lookupValue": "={{$json[\"query\"][\"country\"]}}",
        "returnAllMatches": false
      },
      "id": "2",
      "name": "Lookup Visa",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        260,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "country",
              "value": "={{$json[\"Country\"]}}"
            },
            {
              "name": "visaType",
              "value": "={{$json[\"Visa Type\"]}}"
            },
            {
              "name": "notes",
              "value": "={{$json[\"Notes\"]}}"
            },
            {
              "name": "link",
              "value": "={{$json[\"Link\"]}}"
            }
          ]
        }
      },
      "id": "3",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200,
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "4",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lookup Visa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Visa": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
